.connection{
    width: 60%;
    margin-top: 70px;
    height: 10%;
}
.connect form,.connect h6{
    width: 80%;
    padding: 5px;
}
.col-12{
    margin-top: 10px;
}
.connect form input{
    border-radius: 10px;
}
.connect{
    margin-top: 15%;
    display: grid;
    place-items: center; 
    
}
.inscrit{
    margin-left: 65%;
}
.inscrit a,.connect a{
    color: rgb(99, 98, 98);
    text-decoration: underline;
}
.inscrit a:hover,.connect a :hover {
    color: rgb(99, 98, 98);
  }
.infoconect{
    width: 40%;
    padding: 5%;
    margin-left: 50px;
    margin-top: 70px;
}
@media (max-width: 700px) {
    .infoconect{
        display: none;
    }
    .connection{
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }
    .inscrit{
        margin-left: 50%;
    }
}
