
.Imageong{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    transform: translateY(-10px);
    object-fit: cover;
}
.Nomong{
    width: 350px;
    height: 29px;
    margin-left: 10px;
    color: black;
    font-family: sans-serif;
}

.info p {
    margin-left: 10px;
    
}
.listeong{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oudonner h3{
    margin-left: 50px;
    padding: 20px;
}
.oudonner{
    display: flex;
    justify-content: space-between;
}
.Vue{
    background-color: #5097ea;
    padding: 30px;
    background-image: url("../../public/IMAGE/bannier\ d\'annonce.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.vue1 {
    font-size: 15px;
    text-align: center;
    color: white;
}

/*ong*/

.tousong{
    margin-left: 90px;
    max-height: 700px;
    overflow-y: scroll;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin-top: -10px;
    width: 90%;
}
.tousong div{
    margin-top: 7px;
}
.recherche{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px 17px 100px;
}
.recherche select,.recherche input{
    border-radius: 10px;
}
/*pagededon*/
.faireundon{
    margin-left: auto;
    display: flex;
    margin-right: auto;
    width: 70%;
    height: max-content;
    margin-top: 15%;
    margin-bottom: 9%;
}
.textdon{
    text-align: center;
    transform: translateY(-50px);
    margin-bottom: 10px;
}
.choixdudon{
    background-color: #f4fafb;
    padding: 10px;
    width: 50%;
    display: flex;
    list-style: none;
    line-height: 1.5;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
}
.li{
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 10px;
    justify-content: space-around;
    color: rgb(62, 62, 62);

    
}
.ongchoisi{
    width: 65%;
}
.ongchoisi img{
    width: 100%;
    height: 100%;
}
.ongchoisi div{
    transform: translateY(-24rem);
    margin-left: 10px;
    color: aliceblue;
}
.underline-on-hover {
    text-decoration: none; /* Supprimez le soulignement par défaut */
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    transition: 0.3s; /* Animation de transition douce */
    cursor: pointer;
}

.underline-on-hover::after {
    content: ''; /* Ajoutez un pseudo-élément après le contenu */
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajustez la position de soulignement */
    width: 100%;
    height: 2px; /* Épaisseur du soulignement */
    background-color: rgb(196, 196, 196); /* Couleur du soulignement */
    transform: scaleX(0); /* Commence avec aucune largeur */
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out; /* Animation de transition pour le soulignement */
}


.underline-on-hover:hover::after {
    transform: scaleX(1); /* Élargit le soulignement au survol */
}
.row{
    margin-bottom: 10px;
}
.btn{
    margin-left: 40%;
    margin-bottom: 10px;
    font-size: medium;
}

/*animation*/

[class*=invisible]{
    opacity: 0;
    transform: translateY(10px);
    transition: 1s ease-in-out ;
}

.visible{
    transition: 1s ease-in-out ;
}
@keyframes hover {

    to{
        padding: 5px 25px 5px 25px;
        border: 1px solid  #0b61c3;
        border-radius: 20px;
        transform: translateX(110%);
        background-color: #0b61c3;
        color: rgb(255, 255, 255);
    }
}
 
@media (max-width: 870px) {
    .apropo img{
        width: 50%;
    }
    .apropo{
        height: 70%;
    }
}
@media (max-width: 800px) {
    .apropo img{
        width: 100%;
    }
    .apropo {
        display: flex;
        flex-wrap: wrap;
    }
    .apropo div{
        width: 100%;
        margin-left: 10px;
        padding: 5px;
    }
    .apropo div h4{
        text-align: center;
        text-decoration: underline;
        transform: translateY(-970%);
    }
    .img-fluid{
        margin-top: -120px;
    }
    .info{
        margin-bottom: 20px;
    }
    .cartehover{
        transform: scale(1,1)
    }
}
@media (max-width: 790px) {
    .faireundon{
        margin-left: 25%;
        margin-right: 10%;
        width: 65%;
    }
}
@media (max-width: 660px) {
    .faireundon{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: max-content;
        border: 0px;
        margin-top: 25%;
        margin-bottom: 9%;
    }
    .textdon{
        text-decoration: underline;
        transform: translateY(-10px);
    }
}

@media (max-width: 925px) {
    .tousong{
        margin-left: 5%;
    }
    .textdon{
        transform: translateY(-40px);
    }
}
@media (max-width: 861px) {
    .tousong{
        margin-left: 3%;
        width: 90%;
        padding: 1px;
    }
    .recherche{
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        padding: 5px 50px 17px 20px;
    }
    .recherche select,.recherche input{
        width: 30%;
    }
}
@media (max-width: 454px) {
    .recherche select,.recherche input{
        width: 50%;
        margin-left: 10px;
    }
}

